@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background-color: #1F2937;
}

.logo a,
.header-links a{
    text-decoration: none;
    color: #F9FAF8
}

.header-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.logo{
    font-size: 24px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #1F2937;
    padding: 60px 200px;
}

.image-holder{
    width: 900px;
    height: 244px;
    border: 2px solid black;
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sub-text{
    font-size: 18px;
    color: #E5E7EB;
}

.main-button{
    background-color: #3882F6;
    border: none;
    border-radius: 3px;
    padding: 5px 16px;
}

.information-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 52px;
    max-width: 200px;
}

.information-heading{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 32px 0;
}

.info-content{
    text-align: center;
}

.box{
    width: 150px;
    height: 150px;
    border: 2px solid royalblue;
    border-radius: 8px;
}

