@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header{
    display:flex;
    justify-content: space-between;
    color: white;
    background-color: #1F2937;
    padding: 16px;
    align-items: center;
    padding: 0px 60px;
}

.header-links{
    display: flex;
    gap: 22px;
}

.logo{
    font-size: 24px;
    font-weight:900;
}
a{
    text-decoration: none;
    color: white;
}

.hero-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    color: white;
    gap: 22px;
    padding: 80px 60px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.hero-button{
    align-self: flex-start;
}

.hero-image{
    flex-grow: 2;
}
*{
    outline: 2px solid salmon;
}